<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/meta.ejs') %>
        <title>Delete Success</title>
</head>


<body>
    <%- include('partials/nav.ejs') %>

        <main>

            The issue has been deleted.

            <a href="/dashboard">Return to Dashboard</a>


        </main>

        <%- include('partials/footer.ejs') %>
</body>

</html>