<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/meta.ejs') %>
        <title>Edit Success</title>
</head>


<body>
    <%- include('partials/nav.ejs') %>

        <main>
            Thank you!
            The issue has been edited successfully.

            <a href="/dashboard">Return to Dashboard</a>

        </main>

        <%- include('partials/footer.ejs') %>
</body>

</html>