<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/meta.ejs') %>
        <title>Submit Success</title>
</head>


<body>
    <%- include('partials/nav.ejs') %>

        <main>
            Thank you!
            Your request has been submitted successfully.

        </main>

        <%- include('partials/footer.ejs') %>
</body>

</html>